* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    /* Tipo de fuente */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    display: flex;
    align-items: center; /* Alineamos verticalmente */
    justify-content: center; /* Alineamos horizontalmente */
    height: 100vh;
    background-image: url('../img/fondo.jpg');
    background-size: cover;      /* La imagen se ajusta al tamañano del contenedor */
    background-position: center; /* La imagen se centra en el contenedor */
}

#flecha-volver {
    position: absolute;
    top: 2%;
    left: 1.2%;
    color: #525558;
    background-color: white;
    border-radius: 10px;
    font-size: x-large;
    padding: 7px;
}

#flecha-volver i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
}

#flecha-volver:hover{
    background-color: #c2e0fd;
    transition: 400ms ease;
}


#contenedor {   /* Contenedor padre de "lado-izquierdo" y "lado-derecho" */
    display: flex ;     /* Utilizamos flex para alinear los contenedores verticalmente */
    max-width: 100rem;  /* Ancho maximo, para que la caja no crezca al momento de modificar elementos */
    min-height: 600px; /* Alto maximo, tambien para que no crezca */
    border-radius: 25px;
    /* Sombra */
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.48);
    
    margin: 1rem;
}

#lado-izquierdo {
    display: flex; 
    align-items: center; /* Alineamos verticalemnte */
    text-align: center;
    width: 35%; /* Ocupa un 35% del contenedor padre (".contenedor") */
    background-color: #c2e0fd;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#info {
    width: 100%;
    padding: 0.2rem; /* Padding entre los elementos y contenedor */
}

#info h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #525558;
}

#info p {
    color: #6f7377;
    margin-top: 1.5rem;
    padding: 17px;
}

#lado-derecho {
    display: flex;
    align-items: center;
    justify-content: center; /* Alineamos horizontalmente */
    text-align: center;
    width: 70%;  /* Ocupa un 70% del contenedor padre (".contenedor") */
    background-color: #f9fbfe;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    /* Sombra lado izquierdo de la caja */
    -webkit-box-shadow: -14px 0px 5px -11px rgba(0,0,0,0.28);
    -moz-box-shadow: -14px 0px 5px -11px rgba(0,0,0,0.28);
    box-shadow: -14px 0px 5px -11px rgba(0,0,0,0.28);
}

#lado-derecho h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-bottom: solid 1px rgb(218, 218, 218);
     /* Raya */
    color: #525558;
    font-size: 2.3rem;
}



/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 576px) {
   #lado-izquierdo {
      width: 100%;
      display:block; 
    
    }   
    #lado-derecho {
        width: 100%;
        display: block;
    
    }

}
