* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "truculenta", sans-serif;
    font-weight: 600;
}

body {
    background-color: #e5e5f7;
    background-image: radial-gradient(#cc5bc7 0.5px, transparent 0.5px), radial-gradient(#cc5bc7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;

    background-image: url('../img/fondo.jpg');
    background-size: cover;
    /* La imagen se ajusta al tamañano del contenedor */
    background-position: center;
    /* La imagen se centra en el contenedor */
    justify-content: center;
    align-items: center;
}

#flecha-volver {
    position: absolute;
    top: 2%;
    left: 1.2%;
    color: #525558;
    background-color: white;
    border-radius: 10px;
    font-size: x-large;
    padding: 7px;
}

#flecha-volver i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
}

#flecha-volver:hover {
    background-color: #c2e0fd;
    transition: 400ms ease;
}

#contenedor {
    display: flex;
    border: black;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    /* Alineamos horizontalmente */
    text-align: center;
    width: 70%;
    background-color: #f9fbfe;
    border-radius: 24px;
    /* Sombra lado izquierdo de la caja */
    -webkit-box-shadow: -14px 0px 5px -11px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -14px 0px 5px -11px rgba(0, 0, 0, 0.28);
    box-shadow: -14px 0px 5px -11px rgba(0, 0, 0, 0.28);
}

#contenedor h2 {
    font-weight: 600;
    font-style: normal;
    border-bottom: solid 1px rgb(218, 218, 218);
    /* Raya */
    color: #525558;
    font-size: 2.3rem;
}

#contenedor1 {
    display: flex;
    border: black;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    /* Alineamos horizontalmente */
    text-align: center;
    width: 70%;
    background-color: #f9fbfe;
    border-radius: 24px;
    /* Sombra lado izquierdo de la caja */
    -webkit-box-shadow: -14px 0px 5px -11px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -14px 0px 5px -11px rgba(0, 0, 0, 0.28);
    box-shadow: -14px 0px 5px -11px rgba(0, 0, 0, 0.28);
}

#contenedor1 h2 {
    font-weight: 600;
    font-style: normal;
    border-bottom: solid 1px rgb(218, 218, 218);
    /* Raya */
    color: #525558;
    font-size: 2.3rem;
}