<!DOCTYPE html>
<html lang="en">

<head>
  
</head>

<body>
	<!--Banner Superior-->
    <header>
            
    </header>

    <!-- Menu responsivo -->
    <div class="Menu">
            
    </div>

    <main>
        <br>
        <br>
        <br>
        <div id="app" class="container">
            <h1>Usuarios</h1>
            <br>
            <a  class="btn btn-primary" href="usuario_nuevo.html">Nuevo</a>
            <a  class="btn btn-info" href="index.html">Volver</a>
            
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">email</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="usuario in usuarios">
                                    <td scope="row">{{usuario.id}}</td>
                                    <td>{{usuario.user}}</td>
                                    <td>{{usuario.apellido}}</td>
                                    <td>{{usuario.nombres}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.telefono}}</td>
                                    <td>
                  			            <a class="btn btn-primary" :href="'usuario_update.html?id='+ usuario.id" >Editar</a>
                                        <button type="button" class="btn btn-danger" v-on:click="eliminar(usuario.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>

	<!--Footer-->    
    <div class="row" id="footer">
   
    </div>
      
    <!-- grabo una variable local para indicar quien llama los encabezados y poder usar diferentes archivos css -->
    <script>
        localStorage.setItem("quienllama","usuarios.html")
    </script>    
    <!-- Encabezados -->
    <script src="./js/encabezados.js"></script>    
	<!-- Custom Js -->
	<script src="./js/main.js"></script>
    <!-- Vue Js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/usuarios.js"></script>
</body>

</html>

